@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
:root {
    --main-color: #7c4dff;
    --secondary-color: #dbde3d;
    --white-color: #ffffff;
    --gray-color: #676767;
    --header-bg-color: #202542;
    --bg-color: #f6f6f6;
    --main-bg-color: #ffffff;
    --font-color: black;
    --gradient: linear-gradient(
        var(--secondary-color),
        var(--main-color)
    );
}
html {
    width: auto;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    cursor: default;
    box-shadow: none;
    color: var(--font-color);
}
h4 {
    font-weight: 600;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--font-color);
}
p,
a {
    color: var(--font-color);
    font-weight: 500;
    font-size: 16px;
}

html::-webkit-scrollbar {
    width: 0.27rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 10rem;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin-left: 20px;
}
nav ul li:first-child {
    margin-left: 0;
}
nav ul li a {
    color: var(--font-color);
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}
html,
body {
    background: var(--header-bg-color);
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.main-info {
    padding-top: 55px;
    width: 65%;
    height: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
main {
    background-image: url(../img/hexagon.svg);
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 187%;
}
.logo-container {
    margin-left: 110px;
    display: flex;
    align-items: center;
}

.test-icon {
    width: 50px;
    margin-right: 10px;
}

.website-name {
    color: #f6f6f6;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.logo-container a {
    display: flex;
    align-items: center;
}


.guide {
    display: flex;
    line-height: 26px;
}

.main-content {
    width: 120%;
}

.prev:hover {
    cursor: pointer;
    background-color: #3b44766c;
}
.next:hover {
    cursor: pointer;
    background-color: #3b44766c;
}
.next {
    position: fixed;
    top: 50%;
    width: 50px;
    height: 70px;
    background-color: #050b2c6c;
    border: none;
    font-size: 40px;
    color: var(--white-color);
    text-align: center;
}
.prev {
    position: fixed;
    right: 0;
    top: 50%;
    width: 50px;
    height: 70px;
    background-color: #050b2c6c;
    border: none;
    font-size: 40px;
    color: var(--white-color);
    text-align: center;
}
.nav-panel {
    width: 15%;
    font-size: 15px;
    background-color: var(--bg-color);
    filter: drop-shadow(0px 0px 23px rgba(0, 0, 0, 0.25));
    padding-left: 40px;
}
.nav-panel h4 {
    color: #a4a4a4;
}
.nav-panel li {
    padding: 10px;
    padding-left: 0px;
}
.nav-panel ul {
    list-style-type: none;
}
.nav-panel a {
    color: var(--main-color);
}
.nav-panel a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
    cursor: pointer;
}
.content-part {
    padding-top: 40px;
    margin: 0 auto;
    width: 50%;
}
.technology-info {
    background-color: var(--bg-color);
    filter: drop-shadow(0px 0px 23px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    padding-left: 25px;
    padding-top: 15px;
}
.technology-info {
    padding-bottom: 30px;
}
.content-text {
    background-color: var(--bg-color);
    filter: drop-shadow(0px 0px 23px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    padding-left: 40px;
    margin-top: 50px;
    padding-bottom: 30px;
    padding-top: 15px;
    padding-right: 40px;
}
.content-text p {
    white-space: pre-wrap;
}


#test {
    visibility: visible;
    background-color: var(--bg-color);
    filter: drop-shadow(0px 0px 23px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
    margin-top: 50px;
    padding: 20px;
    overflow-y: auto;
}

footer {
    background-color: var(--header-bg-color);
    display: flex;
    padding-top: 25px;
    width: 65%;
    height: 250px;
    margin: auto;
    font-size: 14px;
}

footer h4 {
    color: #ffffff;
}
footer p {
    color: #bbbbbbd7;
}

.item {
    color: #bbbbbbd7;
    flex: 1 1 auto;
    margin: 0 5px;
}

.footer-info h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-info hr {
    border: 1px solid #7979799e;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-inline-end: 195px;
}

.about-site {
    display: block;
    width: 20%;
    text-align: left;
}

.about-site h4 {
    font-size: 17px;
    line-height: normal;
    margin-bottom: 16px;
}
.tech-info {
    padding-bottom: 30px;
}


.header-icons {
    display: flex;
    margin-top: 20px;
}
.header-icons img {
    width: 46px;
    height: 46px;
}
.profile {
    margin-top: 3px;
    margin-right: 200px;
}
.profile a {
    color: var(--white-color);
    margin-left: 10px;
    margin-top: 20px;
    font-size: 18px;
}
.profile a:hover {
    color: var(--main-color);
    cursor: pointer;
}
.profile img {
    display: none;
}
.header-icons img:hover {
    cursor: pointer;
}
.theme-switcher {
    background-image: url(../img/theme-switcher.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; /* Растянет фон на всю кнопку */
    border: none;
    width: 38px;
    height: 38px;
    
  }
  .theme-switcher-drop {
    position: relative;
    display: inline-block;
    margin-right: 40px;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #15182a;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #f6f6f6;
}

.theme-switcher-drop-content a:hover {
    background-color: var(--bg-color);
}
.theme-switcher-drop:hover .dropdown-content {
    display: block;
}
.theme-switcher-drop:hover .theme-switcher {
    cursor: pointer;
}
.theme-switcher button:hover {
    cursor: pointer;
}


.submit-button {
    background-color: var(--main-color); 
    color: var(--white-color); 
    border: none; 
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.submit-button:hover {
    background-color: var(--secondary-color); 
}

#checkAnswers {
    background-color: var(--main-color);
    max-width: 200px;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 0.6rem;
    text-align: center;
    transition: background-color 0.4s;
}
#checkAnswers:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
  }
  
 
.navbar-button1:hover {
    color: #ff5757;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  .navbar-button2:hover {
    color: #4ba1fe;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  .navbar-button3:hover {
    color: #f6ff46;
    transition: color 0.3s ease;
    cursor: pointer;
  }

  .header-button-list {
    margin-right: 110px;
    margin-top: 10px;
  }
  .header-button-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    margin-left: 62px;
  }
  .header-button-list li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 21px;
    position: relative; /* Позволяет позиционировать вертикальную полосу */
    padding-left: 15px; 
  }
  .header-button-list li a::before {
    content: "";
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 0;
    width: 4px; 
    height: 40px;
    background-color: transparent; /* Цвет по умолчанию */
  }
  /* Цвета кнопок в шапке */
  .header-button-list li:nth-child(1) a::before {
    background-color: #db4130;
  }
  .header-button-list li:nth-child(2) a::before {
    background-color: #188ddb; 
  }
  .header-button-list li:nth-child(3) a::before {
    background-color: #d3d61c; 
  }



  /* Форма по центру */
#authContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s ease-in-out;
    z-index: 1000;
  }
  
  /* Анимация для фона */
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }
  
  /* Форма */
  #authForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1000;
  }
  
  /* Анимация появления */
  #authContainer.show #authForm {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  
  /* Анимация закрытия */
  #authContainer.hide {
    animation: fadeOut 0.3s ease-in-out;
  }
  #authForm input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #authForm input:hover {
    cursor:auto;
  }
  
  /* Кнопка */
  #authForm button {
    padding: 8px 15px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }
  
  #authForm button:hover {
    background: #0056b3;
  }
  #closeBtn {
    position: absolute; 
    top: 5px; 
    right: 10px; 
    font-size: 20px; 
    cursor: pointer;
  }



  .profile
{
  background-image: url(../img/profile.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  width: 38px;
  height: 38px;
  margin-right: 80px;

}
.profile:hover {
cursor: pointer;
}
.header-icons {
  display: flex;
}

#profile-icon {
    position: relative;
    display: inline-block;
    margin-right: 40px;
  }
  
  #login-dropdown-content {
    display: none;
    position: absolute;
    background-color: #15182a;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Анимация появления */
  #login-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #f6f6f6;
  }
  
  #login-dropdown-content a:hover {
    background-color: #4a5491;
    border-radius: 10px;
  }
  
.navbar-button:hover {
    color: var(--main-color);
    transition: color 0.3s ease;
    cursor: pointer;
  }